<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to cars_path, class: "navbar-brand" do %>
    <%= cl_image_tag("zb332bxefxs7q09ebf8y.png", :width=>35, :height=>53, :crop=>"scale") %>
  <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button type="button" class="btn btn-outline-primary"><%= link_to "Car List ", cars_path %><i class="bi bi-backspace"></i></button>
        </li>
      </ul>
    </div>
  </div>
  <hr></hr>
</div>


<h4>Your Bookings with CarBnB</h4>

<ul>
  <% @bookings.each do |booking| %>
  <li>
    <p><%= booking.car.brand %>, <%= booking.car.model %> <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete #{booking.car.brand}, #{booking.car.model}?" } do %>
      <i class="bi bi-trash" aria-hidden="true"></i> </p>
    <% end %>
  </li>
  <% end %>
</ul>
