<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to cars_path, class: "navbar-brand" do %>
    <%= cl_image_tag("logo-carbnb_oqqbjq", :width=>60, :height=>60, :crop=>"scale") %>
  <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <button type="button" class="btn btn-outline-primary"><%= link_to "Car List ", cars_path %><i class="bi bi-backspace"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to "My Cars ", mine_cars_path %><i class="bi bi-suit-heart"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to "Create a New Car ", new_car_path %><i class="bi bi-plus-square"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to " Sign Out", destroy_user_session_path, method: :delete %> <i class="bi bi-box-arrow-right"></i></button>
    </div>
  </div>
  <hr></hr>
</div>

<div class="container">
  <h4>Your Bookings with CarBnB</h4>

  <ul>
    <% @bookings.each do |booking| %>
    <li>
      <h5><%= booking.car.brand %>, <%= booking.car.model %> <%= link_to booking_path(booking), method: :delete, data: { confirm: "Delete #{booking.car.brand}, #{booking.car.model}?" } do %>
        <i class="bi bi-trash" aria-hidden="true"></i> </h5>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
