<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to cars_path, class: "navbar-brand" do %>
    <%= cl_image_tag("zb332bxefxs7q09ebf8y.png", :width=>35, :height=>53, :crop=>"scale") %>
  <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <button type="button" class="btn btn-outline-primary"><%= link_to "Car List ", cars_path %><i class="bi bi-backspace"></i></button>
        </li>
      </ul>
    </div>
  </div>
  <hr></hr>
</div>

<h4>My Cars</h4>

<div class="container">
  <% @cars.each_slice(3) do |s| %>
    <div class="row cards pb-3">
      <% s.each do |car| %>
        <div class="col-4-sm">
          <div class="card-trip">
            <%= link_to "+", mine_cars_path, class: "card-remove-link", method: :delete, data:{confirm: 'Are you sure you want to delete?'} %>
            <% if car.picture_url.present? %>
              <%= image_tag car.picture_url%>
            <% else %>
              <img src="https://www.freeiconspng.com/uploads/no-image-icon-24.jpg" width="450" height="350" crop="scale">
            <% end %>
            <div class="card-trip-infos">
              <div>
                <h2> <strong><%= car.brand %></strong></h2>
                <p><strong><%= car.model %></strong></p>
              </div>
                <h2 class="card-trip-pricing">$<strong><%= car.price %></strong></h2>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
