 <div class="container">

 <div class="navbar navbar-expand-sm navbar-light">
  <%= link_to cars_path, class: "navbar-brand" do %>
    <%= cl_image_tag("logo-carbnb_oqqbjq", :width=>60, :height=>60, :crop=>"scale") %>
  <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      </ul>
      <button type="button" class="btn btn-outline-primary"><%= link_to "Car List ", cars_path %><i class="bi bi-backspace"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to "My Cars ", mine_cars_path %><i class="bi bi-suit-heart"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to "My Bookings ", bookings_path %><i class="bi bi-book"></i></button>
      <button type="button" class="btn btn-outline-primary"><%= link_to " Sign Out", destroy_user_session_path, method: :delete %> <i class="bi bi-box-arrow-right"></i></button>
    </div>
  </div>
</div>

  <div class="row">
        <div class="col-12">
          <hr>
          <div class="form">
          <h3>Add your car!</h3>
            <%= simple_form_for(@car) do |f| %>
            <%= f.input :brand, placeholder: 'Brand' %>
            <%= f.input :model, placeholder: 'Model' %>
            <%= f.input :capacity, placeholder: 'Passenger Limit', collection: 1..5, id: "example"  %>
            <%= f.input :price, placeholder: 'Price', collection: 200..500, id: "example"  %>
            <%= f.input :picture_url %>
            <%= f.submit "Create it!", class: "btn btn-primary"%>
          <% end %>
          </div>
      </div>
    </div>
 </div>
