 <div class="row">
      <div class="col-12">
        <hr>
        <div class="form">
         <h3>Add a car</h3>
          <%= simple_form_for([@car) do |f| %>
          <%= f.input :name %>
          <%= f.input :image_url %>
          <%= f.submit %>
          <% end %>
        <%= simple_form_for(@car) do |f| %>
          <%= f.input :brand, placeholder: 'Brand' %>
          <%= f.input :model, placeholder: 'Model' %>
          <%= f.input :capacity, placeholder: 'Pasenger Limit', collection: 1..5, id: "example"  %>
          <%= f.input :price, placeholder: 'Price', collection: 100..500, id: "example"  %>
          <%= f.submit "Publish", class: "btn btn-primary" %>
        <% end %>
        </div>
    </div>
  </div>
