<div class="navbar navbar-expand-sm navbar-light">
  <%= link_to cars_path, class: "navbar-brand" do %>
    <%= cl_image_tag("zb332bxefxs7q09ebf8y.png", :width=>35, :height=>53, :crop=>"scale") %>
  <% end %>
</div>

<div class="container">
  <div class="card-trip mb-3">
    <%= cl_image_tag("car_image_#{rand(1..21)}", width: 450, height: 350, crop: :scale) %>
  </div>
      <div class="cards">
        <div class="col-4-sm">
          <div class="card d-flex align-items-center ">
            <h5> <strong>Car Details:</strong></h5>
              <ul>
                <li> Brand: <%= @car.brand %> </li>
                <li> Model: <%= @car.model  %> </li>
                <li> Capacity: <%= @car.capacity  %></li>
                <li> Rating: <%= @car.rating %></li>
              </ul>
          </div>
          <div class="card d-flex align-items-center">
            <h5><strong>Price: $<%= @car.price %></strong></h5>
            <br>
            <%= link_to "Book Car", car_bookings_path(@car), method: :post, id:"create-booking", class: "btn btn-flat"  %>
          </div>
        </div>
      </div>
</div
