<div class="container">
  <div class="card-show-title">
    <%= cl_image_tag("car_image_#{rand(1..21)}", width: 800, height: 800, crop: :scale) %>
      <%# <%= image_tag booking.car.car_url, alt: "car picture" %>
      <div class="row cards-car">
        <div class="col-4-sm">
          <div class="card-booking">
            <h2 class="card-trip-pricing">$<strong><%= car.price %></strong></h2>
            <%= link_to booking_path(booking), method: :post, id:"create-booking", "#", class: "btn btn-flat" %>
          </div>
          <div class="card-description">
            <h5> Car Details</h5>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
          </div>
          <div id="map"
            style="width: 100%; height: 600px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['pk.eyJ1IjoiZmVxdWludGEiLCJhIjoiY2t3ZjE3YWhuMGE3dDMxdXRiZG5rc3Y3byJ9.6BZtT1aKhYi1ce6K0WSCHA'] %>"></div>
        </div>
      </div>
  </div>
</div

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'map' %>
<% end  %>
